.todo_buttons {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  border: 1px solid #ececec;
  background-color: #886198;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.CompletedBtn {
  font-size: 0.6rem;
  width: 60px;
  margin: 2px;
  background-color: rgb(28, 196, 31);
  cursor: pointer;
}

.EditBtn {
  font-size: 0.6rem;
  width: 60px;
  margin: 2px;
  background-color: aqua;
  cursor: pointer;
}

.RemoveBtn {
  font-size: 0.6rem;
  width: 60px;
  margin: 2px;
  background-color: salmon;
  cursor: pointer;
}
