.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #29282856;
}

.todo_item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.todo_item h2 {
  font-size: 2.1rem;
  margin: 0 1rem;
  color: white;
}

.todo_checkbox ::before {
  font-size: 0.1rem;
}

.todo_checkbox ::after {
  font-size: 0.5rem;
}
