.new_task__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
.new_task__controls.invalid input  {
  background-color: salmon;
}

.new_task__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.new_task__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new_task__control input:focus {
  border-bottom: 5px solid;
}

.new_task__actions {
  text-align: right;
}
